<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Dastlabki investitsiya</label>
      <input
        id="initial-investment"
        type="number"
        name="enteredInitialInvestment"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">Yillik investitsiya</label>
      <input
        id="annual-investment"
        type="number"
        name="enteredAnnualInvestment"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Kutilayotgan daromad (%)</label>
      <input
        id="expected-return"
        type="number"
        name="enteredExpectedReturn"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Davomiyligi (yil)</label>
      <input
        id="duration"
        type="number"
        name="enteredDuration"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>
  <p>
    <button type="submit">Hisoblash</button>
  </p>
</form>
